<?xml version="1.0" encoding="UTF-8"?>
<!-- https://logging.apache.org/log4j/2.x/manual/configuration.html -->
<Configuration status="ERROR">
	<Appenders>
		<!-- https://logging.apache.org/log4j/2.x/manual/appenders.html#JeroMQAppender -->
		<Console name="Console" target="SYSTEM_OUT">
			<!-- https://marketplace.eclipse.org/content/ansi-escape-console -->
			<!-- https://logging.apache.org/log4j/2.x/manual/layouts.html#PatternLayout -->
			<!--  <PatternLayout pattern="%d{UNIX} [%t] %level %logger{36} - %msg%n" /> -->
			<JsonLayout charset="UTF-8" compact="true" eventEol="true"  />
		</Console>
		<File name="LogFile" fileName="src/main/resources/logs/client/client.log"
			immediateFlush="false" append="false">
			<JsonLayout charset="UTF-8" compact="true" eventEol="true" />
		</File>
		<Socket name="Socket" host="localhost" port="5160" protocol="UDP">
			<PatternLayout pattern="%d{UNIX} [%t] %level %logger{36} - %msg%n" />
			<!-- <JSONLaout /> -->
		</Socket>
	</Appenders>
	<Loggers>
		<!-- additivity attribute allows show message in ROOT logger -->
		<Logger name="org.eclipse.jetty" level="OFF"> 
			<AppenderRef ref="Console" /> 
		</Logger>
		<Logger name="org.glassfish" level="OFF"> 
			<AppenderRef ref="Console" /> 
		</Logger>
		<Root level="ALL">
			<AppenderRef ref="Console" />
			<AppenderRef ref="LogFile" />
		</Root>
	</Loggers>
</Configuration>