<?xml version="1.0" encoding="UTF-8"?>
<!-- https://logging.apache.org/log4j/2.x/manual/configuration.html -->
<Configuration status="INFO">
	<Appenders>
		<!-- https://logging.apache.org/log4j/2.x/manual/appenders.html#JeroMQAppender -->
		<Console name="Console" target="SYSTEM_OUT">
			<!-- https://marketplace.eclipse.org/content/ansi-escape-console -->
			<!-- https://logging.apache.org/log4j/2.x/manual/layouts.html#PatternLayout -->
			<PatternLayout pattern="%d{UNIX} [%t] %-5level %c{1.} - %msg%n" /> 
		</Console>
		<File name="LogFileReqResp" fileName="src/main/resources/logs/property-req-resp.log"
			immediateFlush="true" append="false" bufferedIO="true">
			<JsonLayout charset="UTF-8" compact="true" eventEol="true" />
		</File>
		<File name="LogFileRespTime" fileName="src/main/resources/logs/time-resp.log"
			immediateFlush="true" append="false" bufferedIO="true">
			<JsonLayout charset="UTF-8" compact="true" eventEol="true" />
		</File>
		<File name="LogFileChart" fileName="src/main/resources/logs/chart.log"
			immediateFlush="true" append="false" bufferedIO="true">
			<JsonLayout charset="UTF-8" compact="true" eventEol="true" />
		</File>
		<File name="LogFile" fileName="src/main/resources/logs/property.log"
			immediateFlush="true" append="false" bufferedIO="true">
			<JsonLayout charset="UTF-8" compact="true" eventEol="true" />
		</File>
	</Appenders>
	<Loggers>
		<!-- additivity attribute allows show message in ROOT logger -->
		<Root level="ALL">
			<AppenderRef ref="Console" />
			<AppenderRef ref="LogFile" />
		</Root>
	</Loggers>
</Configuration>